.chat-main
  .chat-main__group-info
    .chat-main__left-box
      .chat-main__left-box__group-name
        = @group.name
      .chat-main__left-box__member
        member:
        - @group.users.each do  |user|
          =  user.name
    .chat-main__right-box
      .chat-main__right-box__icon
        = link_to edit_group_path(@group), class: "Edit__btn" do
          Edit

  .chat-main__message-list
    =render @messages

        
  -# .chat-main__message-form
  -#   .chat-main__message-form__message-box  
  -#     .chat-main__message-form__message-box__message
  -#       %input.input-text{:name => "text", :placeholder => "type a message", :type => "text", :value => ""}/
  -#     .chat-main__message-form__message-box__icon
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')  
  -#         %input{type: "file", class: "file-btn"}
  -#   .input-Submit{:name => "commit", :type => "submit", :value => "Send"}/
  -# form_forは自動的に「new_message」というクラスになる。

  .chat-main__message-form
    =form_for [@group, @message] do |f|
      .new_message__box  
        .new_message__box__message
          = f.text_field :content, class: 'input-text', placeholder: 'type a message' 
        .new_message__box__icon
          =f.label :image, class: "input-box__image" do
            = icon('fas', 'image')  
            =f.file_field :image, class: "file-btn"
      =f.submit 'Send', class: 'input-Submit'


